/1.pytagoras_viz/pyt_orang1.mp4
/1.pytagoras_viz/pyt_orang1.py
/1.pytagoras_viz/pyt_orang2.mp4
/1.pytagoras_viz/pyt_orang2.py
/1.pytagoras_viz/pyt_orang3.mp4
/1.pytagoras_viz/pyt_orang3.py
/1.pytagoras_viz/pyt_orang4.mp4
/1.pytagoras_viz/pyt_orang4.py
/media
/others